/*column control component*/
.column-control-border {
    border-style: solid;
    border-color: #b3b3b3;
}
.column-control-helper-text{
    text-align: center;
    color: #b3b3b3;
}
/*column control close*/